<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTFm</title>
    <style>
        body{
            background: #eee;
            margin:1em auto;
            max-width:40em;
            padding:0 .62em;
            font:1.2em/1.62 monospace;
        }
        h1,h2,h3 { line-height:1.2; }
        .center { text-align: center; }
        .warn { background: red; }
        a:visited { color: inherit; }
        @media print{ body{ max-width:none } }
    </style>
</head>
<body>
    <div class="center">
        <span><b>codepwnda</b></span>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('challenges') }}">Challenges</a>
        <a href="{{ url_for('scoreboard') }}">Scoreboard</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="warn">Log Out</a>
        {% else %}
            <a href="{{ url_for('login') }}">Log In</a>
        {% endif %}
    </div>

    {% block content %}
        {% block page_content %}
        {% endblock %}
    {% endblock %}

</body>

<p class=center>
    Powered by <a href="https://github.com/andreafioraldi/motherfucking-ctf">motherfucking-ctf</a>
    with 20-ish line of CSS.
</p>

</html>
